.first-panel{
  background-color: #303D4D;
  height: 550px;
}

.sharing-container{
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.sharing-container .sharing-btn{
  color: #6B767F;
  font-size: 1.6em;
}

.sharing-container .sharing-btn:hover{
  color: #ecf0f1;
}

.left-side-panel{
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-container{
  height: 100%;
  width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container .slider-item{
    width: 3px;
    height: 30px;
    border-radius: 2px;
    background-color: gray;
    margin-top: 10px;
    cursor: pointer;
}

.slider-container .slider-item.is-active{
  background-color: #ecf0f1;
}

.fun-fact-container{
  position: absolute;
  left: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  transition: opacity .3s;
}

.fun-fact-container.is-active{
  display: block;
  opacity: 1;
}

.fun-fact-container .fun-fact-title{
  font-family: Roboto-Regular;
  font-size: 4.5em;
  color: white;
  position: absolute;
  top: 15%;
  left: 100px;
}

.fun-fact-container .fun-fact-content{
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #ecf0f1;
  position: absolute;
  left: 100px;
  bottom: 40%;
}

@keyframes wideInOut{
  0%{
    width: 50px;
    background-color: gray;
  }

  50%{
    width: 150px;
    background-color: white;
  }

  100%{
    width: 50px;
    background-color: gray;
  }
}

.fun-fact-container .fun-fact-content:before{
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: gray;
  animation: wideInOut 2.5s infinite;
}

.m-picture-container{
  width: 100%;
  height: 550px;
  position: relative;
}

.m-picture-container .m-picture__leftside{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  width: 15px;
}

.m-picture-container .m-picture__leftside span{
  text-orientation: mixed;
  writing-mode: vertical-rl;
  font-size: 12px;
  color: #4F5D6A;
}

.m-picture-container .m-picture__leftside span:nth-child(1){
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}

.m-picture-container .m-picture__leftside span:nth-child(2){
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.m-picture-container .m-picture__rightside{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
}

.m-picture-container .m-picture__rightside .picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-picture-container .m-picture__rightside .picture-info{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
}

.m-picture-container .m-picture__rightside .picture-info.is-open{
  opacity: 0.7;
}

.m-picture-container .m-picture__rightside .picture-info *{
  color: white;
}

.m-picture-container .m-picture__rightside .picture-info .picture-title{
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto-Medium;
  font-size: 2.5em;
  width: 100%;
  margin-top: 20px;
}

.m-picture-container .m-picture__rightside .picture-info .picture-description{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
}

.m-picture-container .m-picture__rightside .picture-info .picture-description:before{
  position: absolute;
  top: -10px;
  left: 30%;
  right: 30%;
  height: 3px;
  content: '';
  background-color: white;
}

.m-picture-container .m-picture__rightside .picture-info .picture-description p{
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  font-family: Roboto-Regular;
}

@media only screen and (max-width: 992px){
  .sharing-container{
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .left-side-panel{
    height: 500px;
  }
}

/*Break points*/
@media only screen and (max-width:992px){

}
