.first-panel{
  background-color: #303D4D;
  height: 550px;
}

@media only screen and (max-width:992px){

}

.picture-of-month-container{
  height: 550px;
}

.picture-of-month-container .picture-info{
  height: 100%;
  width: 100%;
}

.picture-of-month-container .picture-info span{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 12px;
  color: #4F5D6A;
  position: absolute;
}

.picture-of-month-container .picture-info span:nth-child(1){
  top: 20px;
}

.picture-of-month-container .picture-info span:nth-child(2){
  bottom: 20px;
}

.picture-of-month-container .picture-container{
  width: 100%;
  height: 550px;
  position: relative;
}

.picture-of-month-container .picture-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.picture-of-month-container .picture-container .picture-detail-panel{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  display: block;
  cursor: pointer;
  transition: opacity .3s;
}

.picture-of-month-container .picture-container .picture-detail-panel.is-open{
  opacity: 0.8;
}

.picture-guide{
  position: absolute;
  bottom: 15px;
  left: 35%;
  text-align: center;
  font-size: 15px;
  color: #ecf0f1;
}

.picture-of-month-container .picture-container .picture-detail-panel span{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15px;
  color: #ecf0f1;
  font-weight: bold;
}

.picture-of-month-container .picture-container .picture-detail-panel .name-picture{
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  text-align: center;
  font-size: 2em;
  color: #ecf0f1;
  font-family: Roboto-Medium;
  font-weight: bold;
}

.picture-of-month-container .picture-container .picture-detail-panel .picture-description{
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 40px;
  text-align: justify;
  font-size: 1.2em;
  color: #ecf0f1;
  padding: 10px;
  border-top: 3px solid white;
}

.sharing-container{
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.sharing-container .sharing-btn{
  color: #6B767F;
  font-size: 1.6em;
}

.sharing-container .sharing-btn:hover{
  color: #ecf0f1;
}

.left-side-panel{
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-container{
  height: 100%;
  width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container .slider-item{
    width: 3px;
    height: 30px;
    border-radius: 2px;
    background-color: gray;
    margin-top: 10px;
    cursor: pointer;
}

.slider-container .slider-item.is-active{
  background-color: #ecf0f1;
}

.fun-fact-container{
  position: absolute;
  left: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  transition: opacity .3s;
}

.fun-fact-container.is-active{
  display: block;
  opacity: 1;
}

.fun-fact-container .fun-fact-title{
  font-family: Roboto-Regular;
  font-size: 4.5em;
  color: white;
  position: absolute;
  top: 15%;
  left: 100px;
}

.fun-fact-container .fun-fact-content{
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #ecf0f1;
  position: absolute;
  left: 100px;
  bottom: 40%;
}

.fun-fact-container .fun-fact-content:before{
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: gray;
}

@media only screen and (max-width: 992px){
  .sharing-container{
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .left-side-panel{
    height: 500px;
  }
}
