.newest-article-container{
  width: 100%;
  border-radius: 10px;
  background: #1FA2FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.newest-article-container .article-cover{
  height: 300px;
  width: 90%;
}

.newest-article-container .article-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.newest-article-container .article-info{
  width: 100%;
  height: 350px;
  position: relative;
}

.newest-article-container .article-info .article-title{
  position: absolute;
  top: 30px;
  left: 0px;
  right: 10px;
  font-family: Comfortaa-Bold;
  font-size: 2.5em;
  color: white;
  max-height: 200px;
}

.newest-article-container .article-info .article-description{
  position: absolute;
  top: 100px;
  right: 10px;
  font-family: Comfortaa-Regular;
  font-size: 16px;
  color: #ededed;
}

.newest-article-container .article-info .article-author{
  position: absolute;
  bottom: 30px;
  right: 5px;
  width: 150px;
  font-family:Comfortaa-Regular;
  font-size: 14px;
  color: #ededed;
}

.newest-article-container .article-info .article-uploading-time{
  position: absolute;
  bottom: 30px;
  left: 5px;
  width: 150px;
  font-family:Comfortaa-Regular;
  font-size: 14px;
  color: #ededed;
}

.top-articles-container{
  width: 100%;
}

.top-articles-container .top-article .article-cover{
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-articles-container .top-article .article-cover img{
  width: 98%;
  height: 98%;
  object-fit: cover;
  border-radius: 10px;
}

.top-articles-container .top-article .article-title{
  margin-top: 20px;
  font-family: Comfortaa-Bold;
  font-weight: 900;
  font-size: 1.2em;
  color: #3a3a3a;
}

.top-articles-container .top-article .article-reaction{
  margin-top: 20px;
  width: 100%;
}

.top-articles-container .top-article .article-reaction .reaction{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-articles-container .top-article .article-reaction .reaction div{
  font-family: Comfortaa-Bold;
  color: #3a3a3a;
}

.top-articles-container .top-article .article-reaction .read-more-btn{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: #ededed;
  font-size: 10px;
  font-family: Comfortaa-Bold;
  background: #ec008c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.article-list-container{
  width: 100%;
}

.article-list-container .search-field{
  width: 100%;
}

.article-list-container .search-field #search-field-input{
  width: 100%;
  height: 40px;
  padding: 5px;
  font-family: Comfortaa-Regular;
  font-size: 16px;
  color: #3a3a3a;
  border: 0;
  border-radius: 0;
}

.article-list-container .article-list{
  margin-top: 20px;
}

.article-list-container .article-list .article{
  width: 100%;
  height: 100px;
  background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.article-list-container .article-list .article .article-title{
  position: absolute;
  top: 35px;
  left: 20px;
  font-family: Comfortaa-Bold;
  font-size: 1.5em;
  color: #ededed;article-title
}

.article-list-container .article-list .article .article-cover{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-list-container .article-list .article .article-cover img{
  width: 80%;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

@media only screen and (min-width: 720px){
  .newest-article-container{
    margin-top: 100px;
  }
}

@media only screen and (max-width: 720px){
  .article-list-container .article .article-title{
    font-size: 16px !important;
  }

  .newest-article-container{
    margin-top: 20px;
    background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .newest-article-container .article-info .article-title{
    position: absolute;
    top: 30px;
    left: 30px;
    right: 10px;
  }

  .newest-article-container .article-info .article-description{
    position: absolute;
    top: 100px;
    right: 30px;
    left: 30px;
  }

  .newest-article-container .article-info .article-author{
    position: absolute;
    bottom: 30px;
    right: 5px;
  }

  .newest-article-container .article-info .article-uploading-time{
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
}
